page-home {
    .barra-full{
        margin: 5px 0px 5px 0px; 
        color:#000!important;
        background-color:#f1f1f1!important
    }
    .barra-chance{
        padding:0.01em 5px; 
        font-size: 0.5em;
    }
}
