<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only navPop>
      </button>
    </ion-buttons>
    <ion-title>{{proposicaoQuery.siglaTipo}} {{proposicaoQuery.numero}} / {{proposicaoQuery.ano}}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row text-center>
    <ion-col class="favoritar">
      <button ion-button icon-left align-self-center full *ngIf="!favorita" (click)="favoritar()" color="buttoncolor">
        <ion-icon name="star-outline"></ion-icon>
        Adicionar a favoritos
      </button>
      <button ion-button icon-left align-self-center full *ngIf="favorita" (click)="desfavoritar()" color="buttoncolor">
        <ion-icon name="star"></ion-icon>
        Remover de favoritos
      </button>
    </ion-col>
  </ion-row>
  <ion-row text-center class="chance">
    <ion-col class="{{chanceToClass(proposicaoQuery.chance)}}">
      <strong class="chance-title">{{chanceToText(proposicaoQuery.chance)}}</strong><br>
      <span class="subtitle">Chance de aprovação</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="barrachance">
      <div id="aprovometro"></div>
    </ion-col>
  </ion-row>
  <ion-row text-center>
    <ion-col class="tramitacao">
      <strong class="tramitacao-title">{{proposicaoQuery.velocidade}}</strong><br>
      <span class="subtitle">Tramitações recentes*</span>
    </ion-col>
    <ion-col class="tramitacao">
      <strong class="tramitacao-title">{{proposicaoQuery.qtd_tramitacoes}}</strong><br>
      <span class="subtitle">Tramitações totais</span>
    </ion-col>
  </ion-row>

  <div *ngIf="proposicao">

    <h2>Ementa</h2>
    <p text-justify>{{proposicao.ementa}}</p>

    <div *ngIf="proposicao.statusProposicao">
      <h2>Última situação</h2>
      <p>{{proposicao.statusProposicao.descricaoSituacao}}</p>
      <h2>Regime</h2>
      <p>{{proposicao.statusProposicao.regime}}</p>
    </div>

    <div *ngIf="autor">
      <h2>Autoria</h2>
      <p text-center><img src="{{autor.urlFoto}}"></p>
      <p text-center>{{autor.nome}} - {{autor.siglaPartido}}/{{autor.siglaUf}}</p>
      <p text-center>
        <a ion-button icon-right href="https://www.google.com/search?q={{autor.nome}}" color="buttoncolor">
          Buscar no Google
          <ion-icon ios="ios-open-outline" md="md-open"></ion-icon>
        </a>
      </p>
    </div>

    <h2>Palavras-chave</h2>
    <p text-wrap>
      <ion-badge *ngFor="let keyword of proposicao.keywords" style="margin: 1px" color="light" text-wrap>{{keyword}}</ion-badge>
    </p>
  </div>

  <!-- <h2>Temas</h2>
  <p text-wrap>
    <ion-badge *ngFor="let tema of proposicaoQuery.temas" style="margin: 1px" color="light" text-wrap>{{tema.tema}}</ion-badge>
  </p> -->

  <h2>Comissões tramitadas</h2>
  <p text-wrap>
    <ion-badge *ngFor="let comissao of proposicaoQuery.comissoes" style="margin: 1px" color="light" text-wrap>{{comissao.comissao}}</ion-badge>
  </p>

  <p text-center *ngIf="proposicao">
    <a button text-wrap ion-button icon-right align-self-center full href="http://www.camara.gov.br/proposicoesWeb/fichadetramitacao?idProposicao={{proposicao.id}}"
      color="buttoncolor">
      Ver proposição completa no site
      <ion-icon ios="ios-open-outline" md="md-open"></ion-icon>
    </a>
  </p>

  <p text-wrap style="font-size: 0.85em;">*Período das tramitações recentes: 04/09 a 04/10/2017.</p>
  <p [hidden]="true">{{proposicao | json}}</p>
</ion-content>
