<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only navPop>
      </button>
    </ion-buttons>
    <ion-title>{{proposicaoQuery.siglaTipo}} {{proposicaoQuery.numero}} / {{proposicaoQuery.ano}}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>Ementa</h2>
  <p>{{proposicao.ementa}}</p>

  <h2>Última situação</h2>
  <p *ngIf="proposicao.statusProposicao">{{proposicao.statusProposicao.descricaoSituacao}}</p>

  <h2>Chance de Aprovação</h2>
  <p style="text-align: center">
    <svg width="96" height="96" viewBox="0 0 187 187">
      <polygon id="Polygon" [attr.fill]="this.colorByPercentage(proposicaoQuery.chance).background" points="93.0762609 5 170.152522 49.5 170.152522 138.5 93.0762609 183 16 138.5 16 49.5"></polygon>
      <text id="badge-chance-text" font-family="LucidaGrande-Bold, Lucida Grande" font-size="40" font-weight="bold" letter-spacing="-4.5"
        text-anchor="middle" [attr.fill]="this.colorByPercentage(proposicaoQuery.chance).foreground" x="90.1132812" y="110">
        {{this.chanceToText(proposicaoQuery.chance)}}
      </text>
    </svg>
  </p>

  <h2>Indicadores</h2>
  <ul>
    <li><strong>Tramitações no último mês: {{proposicaoQuery.velocidade}}</strong></li>
    <li><strong>Tramitações: {{proposicaoQuery.qtd_tramitacoes}}</strong></li>
  </ul>

  <h2>Temas</h2>
  <ul>
    <li *ngFor="let tema of proposicaoQuery.temas">{{tema.tema}}</li>
  </ul>

  <h2>Comissões tramitadas</h2>
  <p text-wrap>
    <ion-badge *ngFor="let comissao of proposicaoQuery.comissoes" style="margin: 1px" color="light">{{comissao.comissao}}</ion-badge>
  </p>

  <h2>Palavras-chave</h2>
  <p text-wrap>
    <ion-badge *ngFor="let keyword of proposicao.keywords" style="margin: 1px" color="light">{{keyword}}</ion-badge>
  </p>
  <p [hidden]="true">{{proposicao | json}}</p>
</ion-content>